*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #5ccccc;
}
body{
    border: 3px solid black;
    width: 80%;
    margin-top:2%;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    font-family: serif, text;
    font-size: 100%;
    background: white;
}

header {
    border-bottom:3px solid black;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

h1 {
    font-size: 500%;
    text-align: center;
    font-family:'merriweather', serif,bold;
}

#nav_menu ul {
    font-family: 'Acme', sans-serif;
    list-style-type: none;
    position: relative;
    width: 100%;
}

#nav_menu ul li {
    float: left;
    width: 25%;
    display: block;
    text-align: center;
    background-color: #006363;
}

#nav_menu ul li a{
    color: white;
}

main h2 {
    font-family: 'gupter', serif,bold;
    text-align: center;
}

main p {
    font-family: 'Gupter', serif;
    font-size: 110%;
}

/* Grid*/
.row{
    display:flex;
    flex-wrap:wrap;
    padding:0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


 main img  {
     margin-left: 5em;
     column-count:4;
    padding-left: 30%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding-right:30%;
    width: 200px;
    height: 200px;
}

main h3 {
    font-family: 'gupter', serif;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


